@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sriracha';
  src: url('./assets/Sriracha-Regular.woff') format('woff');
  /* Add additional src lines for other formats if available */
  font-weight: normal;
  font-style: normal;
}

.homie-body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* Add any other custom styles for the Homie component */
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}